.cta {
    background-color: #495567;
}
.cta__container {
    padding: 102px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("../img/cta-bg.jpg") no-repeat center right;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {

         background-image: url("../img/cta-bg@2x.jpg");
    }
}
.cta__title {
    margin: 0;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -2.14286px;
    color: #FFFFFF;
}
.cta__img--appstore {
    margin-right: 13px;
}
@media only screen and(max-width: $tablet) {
    .cta__container {
        padding: 62px 155px;
        background: url("../img/cta-bg-tablet.jpg") no-repeat;
        background-position: center center;
        background-size: cover;

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {

         background-image: url("../img/cta-bg-tablet@2x.jpg");
    }
    .cta {
        background-color: #495567;
    }
    }
    .cta__title {
        text-align: center;
    }
    .cta__container {
        flex-direction: column;
    }
    .cta__img-wrapper {
        margin-top: 40px;
        display: flex;
    }
    .cta__img--appstore {
        margin-right: 13px;
    }
}
@media only screen and(max-width: $mobile) {
    .cta__container {
        flex-direction: column;
        align-items: stretch;
        padding: 88px 32px;
        background: url("../img/cta-bg-mobile.jpg") no-repeat center right;
        background-size: cover;
        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
    
             background-image: url("../img/cta-bg-mobile@2x.jpg");
        }
    }
    .cta {
        background-color: #495567;
    }
    .cta__title {
        max-width: 100%;
        font-size: 32px;
        text-align: center;
        margin-bottom: 40px;
    }
    .cta__img-wrapper {
        margin: 0 auto;
        display: flex;
    }
    .cta__img--appstore {
        width: 113px;
    }
    .cta__img--google {
        width: 130px;
    }
}