.main__link {
    padding: 14px 39px;
    color: $white;
    border: 3px solid transparent;
    background-color: $orange;
    display: inline-block;
    text-align: center;

    &:active {
        border: 3px solid $orange;
        background-color: #fff;
        color: $orange;
    }
}
